/* Style for the HOME PAGE */

.home-page {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-intro {
    position: relative;
    background-color: black;
    color: white;
    margin-top: 0.55em;
    width: 100%;
    height: 810px;
}

.main-intro-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/home-page-background-intro.jpg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    opacity: 0.45;
}

.main-intro-overlay {
    position: relative;
    /*z-index: 1;*/
    margin-left: 44px;
}

.main-intro-title {
    margin-top: 0.75em;
    font-size: 7em;
    font-style:normal;
}

.main-intro-body-header {
    margin-top: 1em;
    margin-bottom: 0.3em;
    margin-left: 20px;
    font-size: 2.25em;
    text-decoration: underline 1px;
}

.main-intro-body {
    margin-top: 0.55em;
    margin-left: 20px;
    margin-right: 70px;
    font-size: 1.55em;
    font-style: italic;
    text-align: justify;
}

.main-news {
    position: relative;
    background-color: white;
    color: black;
    margin-top: 0.55em;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-news-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url('../../assets/home-page-background-news.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.45;
}

.main-news-overlay {
    position: relative;
    margin-left: 44px;
}

.main-news-body-header {
    margin-bottom: 0.5em;
    font-size: 2.45em;
    text-decoration: underline 1px;
}

.main-news-body-header a {
    color: black;
    font-style: bold;
    text-decoration: underline 1px;
}

.main-news-body-header a:hover {
    color: rgb(100, 100, 100);
}

.main-news-body {
    height: 100%;
    margin-top: 0.55em;
    font-size: 1.55em;
    font-style: italic;
    text-align: center;
}

.main-activities {
    position: relative;
    background-color: white;
    color: black;
    margin-top: 0.55em;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-activities-title {
    font-size: 3.5em;
    font-weight: bold;
    border-bottom: 3px solid black;
    margin-left: 4em;
    margin-right: 4em;
}

.main-activities-body-part {
    border-bottom: 6px double black;
    margin: 2em 20em 2em 20em;
    padding-bottom: 2em;;
}

.main-activities-body-part-last {
    margin-left: 20em;
    margin-right: 20em;
}

.main-activities-body-part-header {
    font-size: 3em;
}

.main-info {
    position: relative;
    background-color: black;
    color: black;
    margin-top: 0.55em;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-info-location {
    position: relative;
    background-color: white;
    width: 35%;
    height: 100%;
    margin-right: 0.55em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-info-location img {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 4em;
    height: 150px;
    width: auto;
}

.main-info-location-address {
    font-size: 2em;
    font-weight: 400;
}

.main-info-location-address span {
    font-weight: bold;
}

.main-info-location-address p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.main-info-map {
    background-color: white;
    width: 28%;
    height: 100%;
    margin-right: 0.55em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-info-map-image {
    position: absolute;
    top: 0;
    left: 36%;
    height: 200px;
    width: 28%;
    background-image: url('../../assets/home-page-background-map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.45;
}

.main-info-map a {
    position: relative;
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.main-info-teachers {
    position: relative;
    background-color: white;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-info-teachers-text {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-right: 3em;
}

.main-info-teachers img {
    margin-top: 1em;
    margin-left: 1em;
    height: 150px;
    width: auto;
}

.main-contact {
    position: relative;
    background-color: white;
    color: black;
    height: 200px;
    display: flex;
    margin-top: 0.55em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-contact-header {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline 1px;
}

.main-contact-body {
    margin-top: 0.15em;
    font-size: 1.30em;
    display: flex;
    flex-direction: row;
}

.main-contact-body p {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-contact-body span {
    display: flex;
    align-items: center;
    text-decoration: underline 1px;
}

.main-contact-body-icons {
    margin-right: 0.25em;
}

.main-contact-body a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-style: italic;
    cursor: pointer;
}