/* Style for the HOME PAGE */

/* LARGE SCREENS */
@media screen and (min-width: 1900px) {

    /* General styles for the page */
    .home-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
        color: white;
        background-color: black;
    }

    /* Main content container */
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Introduction section */
    .main-intro {
        position: relative;
        background-color: black;
        color: white;
        margin-top: 0.55em;
        width: 100%;
        height: 810px;
    }

    .main-intro-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/home-page-background-intro.jpg');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
        opacity: 0.45;
    }

    .main-intro-overlay {
        position: relative;
        margin-left: 44px;
    }

    .main-intro-title {
        margin-top: 0.75em;
        font-size: 7em;
        font-style: normal;
    }

    .main-intro-body-header {
        margin-top: 1em;
        margin-bottom: 0.3em;
        margin-left: 20px;
        font-size: 2.25em;
        text-decoration: underline 1px;
    }

    .main-intro-body {
        margin-top: 0.55em;
        margin-left: 20px;
        margin-right: 70px;
        font-size: 1.55em;
        font-style: italic;
        text-align: justify;
    }

    /* News section */
    .main-news {
        position: relative;
        background-color: white;
        color: black;
        margin-top: 0.55em;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-news-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250px;
        background-image: url('../../assets/home-page-background-news.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.45;
    }

    .main-news-overlay {
        position: relative;
        margin-left: 44px;
    }

    .main-news-body-header {
        margin-bottom: 0.5em;
        font-size: 2.45em;
        text-decoration: underline 1px;
    }

    .main-news-body-header a {
        color: black;
        font-style: bold;
        text-decoration: underline 1px;
    }

    .main-news-body-header a:hover {
        color: rgb(100, 100, 100);
    }

    .main-news-body {
        height: 100%;
        margin-top: 0.55em;
        font-size: 1.55em;
        font-style: italic;
        text-align: center;
    }

    /* Activities section */
    .main-activities {
        position: relative;
        background-color: white;
        color: black;
        margin-top: 0.55em;
        padding-bottom: 3em;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-activities-title {
        font-size: 4em;
        font-weight: bold;
        border-bottom: 3px solid black;
        margin: 0.5em 4em 0em 4em;
        padding-bottom: 0.5em;
        text-align: center;
    }

    .main-activities-body-part {
        border-bottom: 6px double black;
        margin: 2em 20em 2em 20em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-activities-body-part-last {
        margin-left: 20em;
        margin-right: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-activities-body-part-header {
        font-size: 3em;
        font-weight: 800;
    }

    .main-activities-body-part-content {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .main-activities-body-part-content-text {
        display: flex;
        flex-direction: column;
        font-size: 2.5em;
        font-weight: 550;
        font-style: italic;
        color: rgb(190, 100, 5);
        text-align: left;
    }

    .main-activities-body-part-content-text p {
        margin: 0;
        text-align: right;
    }

    .main-activities-body-part-content-days {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main-activities-body-part-content-days p {
        margin: 1em 3em 0em 3em;
        font-size: 1em;
    }

    .main-activities-body-part-content-days p span {
        margin-left: 0.1em;
        margin-right: 0.1em;
        font-size: 1.65em;
        font-weight: bold;
    }

    .main-activities-body-part-content-min-age {
        text-align: left;
        margin-top: 1em;
        font-size: 1.4em;
        font-style: italic;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.2em 0.5em 0.2em 0.5em;
        width: 18%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .main-activities-body-part-content-min-age span {
        font-weight: bold;
        margin-left: 0.3em;
    }

    /* Info section */
    .main-info {
        position: relative;
        background-color: black;
        color: black;
        margin-top: 0.55em;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main-info-location {
        position: relative;
        background-color: white;
        width: 35%;
        height: 100%;
        margin-right: 0.55em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .main-info-location img {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 4em;
        height: 150px;
        width: auto;
    }

    .main-info-location-address {
        font-size: 2em;
        font-weight: 400;
    }

    .main-info-location-address span {
        font-weight: bold;
    }

    .main-info-location-address p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    .main-info-map {
        background-color: white;
        width: 28%;
        height: 100%;
        margin-right: 0.55em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-info-map-image {
        position: absolute;
        top: 0;
        left: 36%;
        height: 200px;
        width: 28%;
        background-image: url('../../assets/home-page-background-map.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.7;
    }

    .main-info-map a {
        position: relative;
        color: black;
        font-size: 1.85em;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0.8em;
    }

    .main-info-teachers {
        position: relative;
        background-color: white;
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .main-info-teachers-text {
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        margin-right: 3em;
    }

    .main-info-teachers img {
        margin-top: 1em;
        margin-left: 1em;
        height: 150px;
        width: auto;
    }

    .main-contact {
        position: relative;
        background-color: white;
        color: black;
        height: 200px;
        display: flex;
        margin-top: 0.55em;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-contact-header {
        font-size: 2em;
        font-weight: bold;
        text-decoration: underline 1px;
    }

    .main-contact-body {
        margin-top: 0.15em;
        font-size: 1.30em;
        display: flex;
        flex-direction: row;
    }

    .main-contact-body p {
        margin-left: 2em;
        margin-right: 2em;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-contact-body span {
        display: flex;
        align-items: center;
        text-decoration: underline 1px;
    }

    .main-contact-body-icons {
        margin-right: 0.25em;
    }

    .main-contact-body a {
        text-decoration: none;
        color: rgb(100, 100, 100);
        font-style: italic;
        cursor: pointer;
    }
}